.categories_card_1 {
  width: 170px;
  height: 145px;
  border: 1px solid;
  border-radius: 4px;
  align-items: center;
  padding: 25px;
  margin-bottom: 70px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  margin-top: 60px;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  &.active {
    border-color: #000;
    background-color: #f1f1f1;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
  }
}

.categories_card_1:hover {
  background-color: #db4444;
  color: #fff;
}

.categories_card_h {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.active_card {
  background: #db4444;
  color: #fff;
  text-align: center;
}

.categories_down {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.categories_card_1:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.categories_card_1 {
  transition: 0.3s linear;
}
