
.discount_content {
    margin-top: 150px;
}

.discount_up_up_span {
    width: 20px;
    height: 40px;
    background: #DB4444;
    color: #DB4444;
    display: flex;
    border-radius: 4px;
}

.discount_up_up {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 24px;
}

.discount_up_up_h1 {
    color: #DB4444;
    font-size: 16px;
}

.discount_up_down {
    display: flex;
    align-items: center;
    gap: 87px;
}

.card_title{
    padding: 15px;
}

.discount_up_down_h1 {
    font-size: 36px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.discount_time h1 {
    font-size: 32px;
    font-weight: 700;
}

.discount_time .discount_span {
    font-size: 12px;
    font-weight: 500;
    margin-right: 45px;
}

.h1_span {
    color: #DB4444;
    font-size: 20px;
    margin-left: 17px;
    margin-right: 17px;
}

.nav_a1 {
    border-bottom: 1px solid #000;
}


.discount_up {
    margin-bottom: 40px;
}

.discount_down {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.dowin_card_1 {
    width: 270px;
    height: 350px;
}

.dowin_card11{
    transition: .3s;
}

.toCard{
    background-color: #000;
    width: 100%;
    height: 41px;
    position: absolute;
    border-radius: 0 0 4px 4px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: .3s;
    justify-content: center;
    opacity: 0;
    top: 220px;
    a {
      color: #fff;
      font-size: 16px;
      font-weight: 500;
    }
}

.dowin_card11:hover .toCard{
    opacity: 1;
}

.dowin_card11:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

._1 {
    background: #F5F5F5;
    padding: 49px;
    width: 270px;
    height: 250px;
}

.card_span {
    width: 55px;
    height: 26px;
    background: #DB4444;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    top: 2%;
    left: 2%;
}

.dowin_card_1 {
    position: relative;
    transition: 0.3s;
    width: 270px;
    height: 250px;
}

.dowin_card_1:hover {
    cursor: pointer;
}

.down_card_icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 2%;
    right: 2%;
    gap: 10px;
}

.discount_down_card_h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.discount_down_card_p {
    color: #DB4444;
    font-size: 16px;
    font-weight: 500;
}

.discount_down_card_p span {
    color: #636363;
    margin-left: 12px;
    text-decoration: line-through;
}

.discount_up_down {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discount_up_icons {
    display: flex;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.discount_up_icons i {
    padding-top: 21px;
    width: 46px;
    height: 46px;
    background-color: #F5F5F5;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    animation-name: arrow;
    animation-duration: 2s;
    transition: .3s;
}

.icons_1:hover {
    cursor: pointer;
}

.icons_2:hover {
    cursor: pointer;
}

.discount_btn {
    padding: 16px 48px;
    background-color: #DB4444;
    color: #fff;
    border: 2px solid transparent;
    text-align: center;
    margin-left: 40%;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin-top: 150px;
    border-radius: 4px;
    transition: .3s;
    margin-bottom: 60px;
}

.discount_btn:active {
    background-color: #db44447c;
}
